@media screen and (max-width: 1380px){
    .history-item{
        width: 590px;
    }
    .history-list{
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 1300px){
    .navbar-brand{
        margin-right: 50px;
    }
    .product-type li p{
        word-break: break-all;
    }
    .banner-slider .swiper-pagination-bullet{
        max-width: 200px;
    }
    .banner img {
        height: 654px;
    }
}
@media screen and (max-width: 1200px){
    .navbar-brand{
        margin-right: 20px;
    }
    .navbar-nav{
        gap: 10px;
    }
    .technologies-list{
        gap: 10px;
        justify-content: center!important;
    }
    .technologies-item{
        width: 285px;
    }
    .technologies-item:nth-child(2){
        margin-right: unset;
    }
    .technologies-item:nth-child(3){
        margin-left: 0;
    }
    .technologies-item:nth-child(5){
        margin-left: unset;
    }
    .company:before{
        background-size: 38%;
    }
    .history-date-item{
        width: 590px;
        margin-bottom: 20px;
    }

    .history-date .row{
        align-items: center;
        justify-content: center!important;
    }
    .why-us p{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
@media screen and (max-width: 1100px){
    .navbar-brand{
        margin-right: 10px;
    }
    .navbar-nav{
        gap: 5px;
    }
    .production{
        padding: 12px 6px !important;
    }
    .nav-link{
        font-size: 12px;
    }
    .license-item img   {
        max-width: 100%;
    }
    .catalog-block{
        flex-direction: column;
    }
    .catalog-aside{
        width: 100%;
        max-width: 100%;
    }
    .product-type{
        flex-direction: row;
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .catalog-list{
        width: 100%;
        justify-content: center!important;
    }
    .catalog-item{
        max-width: 334px;
        margin-bottom: 20px;
    }


    .product-type li{
        width: 45%;
        height: 64px;
    }
    .product-type li p {
        word-break: auto-phrase;
    }
}
@media  screen and (max-width: 990px) {
    .why-us p{
        display: block;
    }
    .navbar-toggler{
        font-size: 14px;
        color: #0070BB;
        font-weight: 600;
        text-transform: uppercase;
        background: #F2F5F7;
        align-items: center;
        gap: 5px;
        padding: 0 19px;
        order: 2;
        height: 40px;
    }
    .navbar-toggler-icon{
        background: url('../images/icons/menu.svg');
    }
    nav .contact-us{
        margin-left: 20px;
        margin-right: 20px;
    }
    .why{
        padding-right: 40px;
        padding-left: 40px;
    }
    .top-bar{
        display: none!important;
    }
    .lang{
        display: flex!important;
        margin-left: auto;
    }
    .navbar>.container-fluid{
        justify-content: flex-start;
    }
    .banner h1{
        font-size: 48px;
        line-height: 48px;
    }
    .banner img{
        height: 654px;
    }
    .about-info{
        margin-left: 40px;
    }
    .about .container{
        max-width: 100%;
    }
    .section-title{
        font-size: 38px;
        line-height: 41px;
    }
    .about-mission{
        max-width: 100%;
        margin-bottom: 100px;
    }
    .why .col-6{
        width: 300px;
        flex-wrap: wrap;
        justify-content: flex-start!important;
    }
    .why .row:last-child  .col-6:first-child{
        order: 2;
    }
    .why .row{
        justify-content: center;
    }
    .products .container{
        max-width: 100%;
    }
    .product-item:first-child{
        margin-right: 0;
    }
    .product-item{
        width: 590px;
    }
    .products .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .products:before{
        background-position: left bottom;
    }
    .products{
        padding: 100px 0;
    }
    .clients-list{
        flex-wrap: wrap;
        padding: 0;
        margin: 50px auto 0;
        align-items: center;
        justify-content: center;

    }
    .client{
        width: 330px;
    }
    .clients .container{
        max-width: 100%;
        padding: 0 40px;
    }
    .review-item{
        max-width: 990px;
    }
    .swiper-button-prev {
        left: 15px;
    }
    .swiper-button-next {
        right: 15px;
    }
    .review .container{
        max-width: 100%;
        padding: 0 40px;
    }
    .contact .container{
        max-width: calc(100% - 80px);

    }
    .contact form{
        flex-direction: column;
        max-width: 408px;
        gap: 10px;
        width: 100%;
        align-items: center;
    }
    .form-col, form .col-2, .form-col input{
        width: 100%;
        max-width: 100%;

    }
    .contact form .btn{
        margin: 0 auto;
    }
    .contact p{
        margin-bottom: 50px;
    }
    .contact{
        margin-bottom: 100px;
    }
    footer .container{
        max-width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }
    .footer-top-logo {
        flex: auto;
    }
    .footer-logo img{
        max-width: 199px;
        margin-bottom: 40px;
    }
    footer h2{
        font-size: 24px;
    }
    footer p{
        margin-bottom: 22px;
    }
    .footer-bottom .col {
        flex: 1 0 50%;
    }
    .footer-bottom .col:last-child{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }
    .footer-bottom .col:last-child h4{
        width: 100%;
    }
    .footer-bottom .col:last-child .footer-menu{
        margin-bottom: 0;
        max-width: 330px;
    }
    .footer-bottom .col:last-child .footer-menu li{
        word-break: break-all;
    }
    .footer-bottom .col:last-child .footer-menu li:last-child{
        margin-bottom: 0;
    }
    footer .btn{
        width: 40%;
        margin-right: 40px;
    }
    .copyright{
        padding: 28px 40px;
    }
    .copyright .container{
        max-width: 100%;
        padding: 0;
    }
    .copyright .row{
        justify-content: space-between;
        gap: 15px;
    }
    .copyright .row div:first-child{
       order: 3;
        width: 100%;
    }
    .carousel-caption{
        display: block!important;
        width: 100%;
        left: 0;

    }
    .about-mission h4{
        font-size: 24px;
        line-height: 26px;
    }
    .about-info .btn-primary{
        margin-bottom: 70px;
    }
    .clients{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .clients{
        background-size: contain;
        background-position: right bottom;
    }
    .img-banner img:first-child{
        display: none;
    }
    .img-banner img:last-child{
        display: block!important;
        width: 100%;
    }
    .about-info{
        margin-left: 0;
        padding-left: 40px;
    }
    .review{
        padding: 70px 0 80px;
    }
    .review-title{
        font-size: 24px;
        line-height: 26px;
    }
    .technologies{
        padding: 60px 89px 100px;
    }
    .technologies .section-title{
        margin-bottom: 50px;
    }
    .fixed-bottom{
        display: none;
    }
    .page-404{
        padding: 203px 0;
    }
    .page-404 h1{
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 48px;
    }
    .page-404 p{
        margin-bottom: 40px;
    }
    .page-404 .btn{
        margin-right: 44px;
    }
    .privacy .container{
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
    }
    .privacy .col-8{
        flex: 1;
    }

    .contact-page{
        padding: 47px 40px 100px;
    }
    .contact-page .container{
        max-width: 100%;
    }
    .contact-page h4{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 5px;
    }
    .contact-page .col-4{
        width: 50%;
    }
    .mob-fw{
        flex: 1 0 100%;
        width: 100%;
        margin-bottom: 30px;
    }
    .contact-page iframe{
        height: 290px;
    }
    .license{
        padding: 0 40px;
    }
    .license .section-title{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .license h4{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .license p{
        width: 100%!important;
        margin-bottom: 50px;
    }
    .license .col-3{
        width: 50%;
    }
    .license-list{
        gap: 20px 0;
    }
    .license-item p{
        margin-bottom: 0;
    }
    .license-item h4{
        font-size: 28px;
        margin-bottom: 5px;
    }
    .license-info .container{
        padding: 60px 40px 115px;
        max-width: 100%;
    }
    .license-info{
        padding: 0 40px;
    }
    .license-info .container:before{
        background-position: 0 27px;
        background-size: 100%;
    }
    .license-info .container:after, .license-info:nth-child(4) .container:after{
        background-size: 281px;
    }
    .license .pagination{
        justify-content: flex-start!important;
    }
    .license-info .col-9{
        width: 100%;
        padding-right: 99px;
    }
    .license-info h4{
        padding-right: 123px;
    }
    .license-info h2{
        letter-spacing: -1px;
    }
    .license-info p{
        padding-right: 40px;
    }
    .clients-page{
        padding: 60px 40px 100px;
    }
    .clients-page .client{
        width: 219px;
        padding: 30px;
    }

    .clients-page .client img{
        max-width: 100%;
    }
    .clients-page .client{
        height: 100px;
    }
    .clients-page{
        margin-top: 30px;
    }
    .clients-page .container{
        max-width: 100%;
        padding: 0!important;
    }
    .clients-page .clients-list {
        gap: 16px 12px;
    }
    .post-content img{
        max-width: 100%;
    }
    .post{
        padding: 40px 0 100px;
    }

    .back-to{
        margin-bottom: 40px;
    }
    .post .col-9{
        width: 100%;
        padding: 0;
    }
    .post-content{
        padding: 50px 29px;
    }
    .post .container{
        max-width: calc(100% - 30px);
    }
    .post-content h4{
        font-size: 32px;
        line-height: 32px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .blog{
        padding: 60px 40px 0;
    }
    .post-list{
        margin-top: 30px;
        padding: 0;
    }
    .post-list .card{
        max-width: 334px;
    }
    .modal-dialog{
        margin-top: 40px;
        padding: 20px;
    }
    .modal .btn-close{
        top: -25px;
        right: -13px;
    }
    .history{
        padding: 100px 83px;
    }
    .history .section-title.dark{
        margin-bottom: 50px;
    }
    .history:before{
        background-size: 100%;
    }
    .about-fly{
        padding: 100px 40px;
    }
    .fly-info{
        width: 100%;
        margin-bottom: 50px;
    }
    .fly-col{
        width: 100%;
    }
    .fly-info p{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .fly-info h4{
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .history-bottom:before{
        width:603px;
        height: 47px;
        clip-path: polygon(33.623px 32.1579px, 0px 0px, 0px 47px, 603px 47px, 587.482px 32.1579px, 33.623px 32.1579px);
    }
    .history-bottom:after{
        display: none;
    }
    .fly-list{
        gap: 10px;
    }
    .about-fly:before{
        width:373px;
        height: 47px;
        clip-path: polygon(33.623px 32.1579px, 0px 0px, 0px 47px, 373px 47px, 357.482px 32.1579px, 33.623px 32.1579px);
    }
    .about-fly:after{
        content: '';
        position: absolute;
        bottom: -1px;
        right: 0;
        width:373px;
        height: 47px;
        clip-path: polygon(339.377px 32.1579px, 373px 0px, 373px 47px, 0px 47px, 15.5183px 32.1579px, 339.377px 32.1579px);
        background-color: #0C3F75;
    }
    .company{
        padding: 100px 40px 400px;
    }
    .company .row{
        flex-direction: column-reverse;
    }
    .company .row div{
        width: 100%;
    }
    .company:before{
        background-size: 80%;
        background-position: bottom center;
    }
    .col-left{
        width: 100%;
    }
    .history-2{
        padding: 50px 40px;
    }
    .history-2 .container{
        padding: 60px;
    }
    .history-2 .col-7{
        width: 100%;
    }
    .history-2 h4{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .history{
        order: 1;
    }
    .about-fly{
        order: 2;
    }
    .company{
        order: 3;
    }
    .history-banner{
        order: 5;
    }
    .history-2{
        order: 4;
    }
    .history-date{
        order: 6;
    }
    .history-banner-top:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width:37px;
        height: 51px;
        clip-path: polygon(28.734px 7.875px, 37px 0px, 0px 0px, 0px 51px, 28.734px 23.625px, 28.734px 7.875px);
        background-color: #0C3F75;
    }
    .history-banner-bottom:after{
        width:373px;
        height: 47px;
        clip-path: polygon(339.377px 32.1579px, 373px 0px, 373px 47px, 0px 47px, 15.5183px 32.1579px, 339.377px 32.1579px);
        background: #fff;
    }
    .history-date:after{
        display: none;
    }
    .history-date{
        padding: 100px 89px;
    }
    .history-date-item h4{
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .catalog{
        padding: 60px 40px 100px;
    }
    .catalog .container{
        max-width: 100%;
        padding: 0;
    }
    .product-type li{
        max-width: calc(100%/2 - 5px);
        width: 100%;
    }
    .product-type li:last-child p{
        word-break: break-all;
    }
    .catalog-item p{
        margin-bottom: 0;
    }
    .catalog-item{
        margin-bottom: 0;
        max-width: calc(100% / 2 - 20px);
    }
    .catalog .section-subtitle{
        margin-top: 20px!important;
    }
    .catalog .pagination{
        margin-bottom: 0;
    }
    .review-page{
        padding: 60px 40px 100px;
    }
    .review-page .col-xs-6{
        width: 100%;
    }
    .review-page .review-slider{
        flex-direction: column;
    }
    .review-page .review-slider{
        margin-top: 50px;
    }
    .review-page .pagination{
        justify-content: flex-start!important;
    }
    .fancybox__footer{
        position: relative;
        height: auto;
        width: 100%;
        left: auto;
        top: auto;
    }
    .f-thumbs__track{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start
    }
    .fancybox__nav{
        display: none!important;
    }
    .fancybox__container{
        padding-top: 50px;
    }
    .is-compact .fancybox__footer{
        background: #0A1E30;
    }
    .navbar-collapse{
        background: #0C3F75;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;
        height: 100vh;
        width: 400px;
        padding: 15px;
        overflow: auto;
    }
      .navbar-collapse .navbar-nav{
          align-items: flex-start !important;

      }
    .dropdown-item{
        color: #F2F5F7;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        background: transparent;
        box-shadow: none;
    }
    .navbar-collapse .nav-link{
        color: #F2F5F7;
    }
    .production{
        background: transparent;
    }
    .production:after{
        background: url('../images/icons/production-white.svg') no-repeat center;
    }
    .navbar-close{
        display: flex;
    }
    .img-banner .container-fluid:before{
        top: -2px;
    }
    .fancybox__carousel{
        max-width: unset;
        width: 100%;
        margin: 0 ;
        z-index: 9;
    }
    .footer-top:before{
        display: none   ;
    }
    .banner-slider .swiper-pagination-bullet {
        width: 20%;
    }
}
@media screen and (max-width: 600px){
    .footer-top:before{
        display: block   ;
        background: url('../images/home/footer-mob.svg') no-repeat ;
        background-position:100% 314px;
    }
    .review-item:after{

        width:28px;
        height: 25px;
        clip-path: polygon(6.25532px 3.71638px, 0px 0px, 28px 0px, 28px 24.068px, 6.25532px 11.1491px, 6.25532px 3.71638px);
    }
    .review-page .review-slider{
        margin-top: 40px;
    }
    .review-page .btn{
        padding-right: 24px;
        padding-left: 24px;
    }
    .review-page{
        padding: 47px 15px 90px!important;
    }
    .aside-dropdown{
        display: flex !important;
        margin-left: 10px;
    }
    .product-type li{
        display: none;
        padding: 10px;
    }
    .product-type li:first-child{
        display: flex;
    }
    .product-type li:not(:first-child).show{
        display: flex!important;
        background: #F2F5F7;
        border: none;
        margin-bottom: 0;
    }
    .product-type li:not(:first-child) p{
        color: #0C3F75;
    }
    .product-type li:last-child p{
        word-break: auto-phrase;
    }
    .product-type li:not(:first-child) .aside-icon svg path{
        fill: #0C3F75;
    }
    .product-type li:not(:first-child)   .aside-icon{
        background: transparent;
    }
    .product-type{
        gap: 0;
    }


    .product-type li.opened .aside-dropdown{
        transform: rotate(180deg);
    }
    .catalog{
        padding: 47px 15px 90px;
    }
    .catalog .section-subtitle{
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 35px!important;
    }
    .catalog-item .catalog-title{
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 3px;
    }
    .catalog .pagination{
        margin-bottom: 0;
    }
    .product-type li p{
        font-size: 18px;
        line-height: 19px;
    }
    .catalog-item p{
        font-size: 12px;
        line-height: 13px;
    }
    .catalog-item{
        max-width: 100%;
    }
    .catalog-list{
        padding: 0 15px;
    }
    .catalog-aside{
        padding: 0 15px;
    }
    .product-type li{
        max-width: 100%;
    }
    .about-fly{
        padding: 90px 15px;
    }
    .fly-info h4{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .fly-info p, .fly-item p, .company p, .history-2 p{
        font-size: 15px;
        line-height: 18px;
    }
    .history-2 .container:after{
        width:207px;
        height: 26px;
        clip-path: polygon(18.6594px 17.7895px, 0px 0px, 0px 26px, 207px 26px, 198.388px 17.7895px, 18.6594px 17.7895px);
    }
    .history-banner{
        padding-top: 25px;
        background: #0C3F75;
    }
    .history-date-item p{
        padding: 0;
    }
    .history-date{
        padding: 90px 15px;
    }
    .history-banner-bottom:after{
        width:207px;
        height: 26px;
        clip-path: polygon(188.341px 17.7895px, 207px 0px, 207px 26px, 0px 26px, 8.61205px 17.7895px, 188.341px 17.7895px);

    }
    .history-banner-top:before{
        top: 24px;
        width:27px;
        height: 37px;
        clip-path: polygon(20.9681px 5.71323px, 27px 0px, 0px 0px, 0px 37px, 20.9681px 17.1397px, 20.9681px 5.71323px);
    }
    .history-banner img{
        height: 230px;
    }
    .fly-item p{
        margin-bottom: 22px;
    }
    .about-fly:before{
        display: none;
    }
    .company{
        padding: 90px 15px 293px;
    }
    .company:before{
        background-size: 100%;
        background-position: 100% 96%;
    }
    .history-2 .container:before{
        top: -26px;
        width:207px;
        height: 26px;
        clip-path: polygon(188.341px 17.7895px, 207px 0px, 207px 26px, 0px 26px, 8.61205px 17.7895px, 188.341px 17.7895px);
    }
    .history-2 .container{
        padding: 30px 20px;
        width: calc(100% - 6px);
        margin: 0 auto;
    }
    .history-2 h4 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .company-top{
        display: none;
    }
    .history-2{
        padding: 0;
    }
    .company h4{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .about-fly:after{

        width:197px;
        height: 31px;
        clip-path: polygon(179.242px 21.2105px, 197px 0px, 197px 31px, 0px 31px, 8.196px 21.2105px, 179.242px 21.2105px);
    }
    .fly-info{
        margin-bottom: 40px;
    }
    .history-date-item{
        width: 100% ;
        padding: 30px;
    }
    .history-bottom:before{
        width:321px;
        height: 25px;
        clip-path: polygon(17.8988px 17.1053px, 0px 0px, 0px 25px, 321px 25px, 312.739px 17.1053px, 17.8988px 17.1053px);
    }
    .history-date-item h4{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .history-date-item p{
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 0;
    }
    .history-item p{
        font-size: 15px;
        line-height: 18px;
    }
    .history-item h4{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .history-item{
        padding: 30px;
        background: url('../images/about/history-item-bg-mob.png');
        background-size: 100% 100%;

    }
    .history .section-title.dark{
        line-height: 33px;
        margin-bottom: 40px;
    }
    .history{
        padding: 90px 12px;
        width: calc(100% - 6px);
        margin: 0 auto;
    }
    .history-item {
        width: 100%;
    }
    .fly-item{
        width: calc(100%/3 - 10px) ;
    }
    .fly-item-img img{
        max-width: 74px;
    }
    .modal-content .modal-dialog{
        margin-top: 60px;
    }
    .modal-title{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .modal-body p {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 20px;

    }
    .modal-dialog{
        width: calc(100% - 10px);
        margin: 40px auto;
    }
    .modal-footer .btn{
        width: calc(100% - 46px);
    }
    .post-list .card-title{
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 5px;
    }
    .post-list .card-text{
        font-size: 12px;
        line-height: 14px;
    }
    .blog .pagination{
        margin-bottom: 90px;
    }
    .post-list{
        margin-bottom: 40px;
    }
    .blog{
        padding: 47px 15px 0;
    }
    .post-list{
        justify-content: center;
    }
    .post-banner-img:before{
        display: none;
    }
    .post-content{
        padding: 0;
        background: transparent;
        box-shadow: none;
    }
    .post-content h4{
        font-size: 28px;
        line-height: 28px;
    }
    .post .section-title{
        line-height: 32px;
        padding: 0 6px;
    }
    .post-content p, .post-content ul li, .post-content ol li{
        font-size: 16px;
        line-height: 19px;
    }
    .post{
        padding: 47px 0 90px;
    }

    .back-to{
        margin-bottom: 30px;
    }
    .clients-page .clients-list {
        gap: 16px 6px;
    }
    .clients-page .client {
        width: 162px;
        height: 79px;
    }
    .clients.clients-page{
        padding: 47px 15px 90px;
    }
    .license-info h4{
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 10px;
    }
    .license-info h2{
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 20px;

    }
    .license-list{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .license-info .container:after, .license-info:nth-child(4) .container:after {
         background-size: 50%;
    }
    .license-info p{
        padding: 0;
    }
    .license-list{
        justify-content: center;
        align-items: center;
        gap: 15px 0;
    }
    .license .col-3{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .license-info{
        padding: 0 15px;
    }
    .license .license-item h4{
        font-size: 22px;
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }
    .license-info .col-9{
        padding: 0;
    }
    .license-info h4{
        padding: 0;
    }

    .license-item img{
        width: 100%;
    }
   .license .license-item p{
        margin-bottom: 0;
        font-size: 12px;
    }
    .license p{
        width: 100%!important;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 40px;
    }
    .license h4{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .license .section-title{
        margin-top: 47px;
        margin-bottom: 15px;
    }
    .license{
        padding: 0 15px;
    }
    footer:after{
        width:37px;
        height: 37px;
        clip-path: polygon(11.7341px 11.6842px, 37px 37px, 37px 0px, 0px 0px, 11.7341px 11.6842px);
        right: 0;
        left: auto;
    }
    .copyright:after{
        width:34px;
        height: 47px;
        clip-path: polygon(7.59574px 7.25735px, 0px 0px, 34px 0px, 34px 47px, 7.59574px 21.7721px, 7.59574px 7.25735px);
        background: #0A1E30;
        top: -2px;
    }
    .contact-page iframe{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 260px;
    }
    .contact-page .col-4{
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-page h4{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .contact-page .sub-title{
        font-size: 12px;
        line-height: 13px;
    }
    .contact-page{
        padding: 60px 15px 90px;
    }
    .fixed-bottom{
        display: flex;
    }
    nav .contact-us{
        display: none;
    }
    nav .navbar-toggler{
        display: none;
    }
    .carousel-top-clip:after{
        right: -1px;
    }
    .banner h1{
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -2px;
    }
    .section-title span{
        word-break: break-word;
    }
    .product-item {
        width: 100%;
    }

    .carousel-caption{
        padding-right: 5px;
        padding-left: 5px;
    }
    .banner img{
        height: 610px;
    }
    .carousel-caption .btn-secondary{
        width: 200px;
        height: 44px;
    }
    .btn-secondary span{
        height: 44px;
        width: 44px;
        right: -46px;
    }
    .carousel-bottom-clip:after{
        bottom: -1px;
        right: -1px;
    }
    .carousel-bottom-clip:before{
        bottom: -1px;
    }
    .carousel-top-clip:before{
        top: -1px;
    }
    .carousel-top-clip:after{
        top: -1px;
    }
    .about{
        padding: 90px 0;
    }
    .about-info{
        margin-left: 0;
        padding: 0 15px;
    }
    .section-title{
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 15px;
    }
    .sub-title{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .about-info .btn-primary{
        margin-bottom: 60px;
    }
    .about-info p{
        margin-bottom: 30px;
    }
    .about-mission h4{
        font-size: 22px;
        line-height: 24px;
    }
    .btn-primary{
        height: 44px;
    }
    .btn-primary span{
        height: 44px;
        width: 44px;
        right: -46px;
    }
    .about-mission p{
        margin-bottom: 0;
    }
    .about-mission{
        margin-bottom: 90px;
    }
    .product-item img{
        max-width: 70%;
    }
    .product-item:nth-child(2) img{
        margin-top: 0;
    }
    .carousel-bottom-clip:after{
        width:32px;
        height: 45px;
        clip-path: polygon(7.14894px 38.0515px, 0px 45px, 32px 45px, 32px 0px, 7.14894px 24.1544px, 7.14894px 38.0515px);
    }
    .carousel-bottom-clip:before{
        width:197px;
        height: 31px;
        clip-path: polygon(22.6066px 21.2105px, 0px 0px, 0px 31px, 197px 31px, 186.566px 21.2105px, 22.6066px 21.2105px);
    }
    .carousel-top-clip:before{
        width:45px;
        height: 32px;
        clip-path: polygon(6.94853px 24.8511px, 0px 32px, 0px 0px, 45px 0px, 20.8456px 24.8511px, 6.94853px 24.8511px);

    }
    .carousel-top-clip:after{
        width:45px;
        height: 32px;
        clip-path: polygon(38.0515px 24.8511px, 45px 32px, 45px 0px, 0px 0px, 24.1544px 24.8511px, 38.0515px 24.8511px);

    }
    .why-clip-path-top:after{
        width:39px;
        height: 39px;
        clip-path: polygon(39px 0px, 39px 39px, 0px 39px, 39px 0px);
        bottom: -1px;
        top: auto;

    }
    .why-clip-path-top:before{

        width:232px;
        height: 39px;
        clip-path: polygon(26.6229px 26.6842px, 0px 0px, 0px 39px, 232px 39px, 219.712px 26.6842px, 26.6229px 26.6842px);
        bottom: -1px;
        top: auto;
    }

    .why-clip-path-bottom:before{
        bottom: -39px;
        width:73px;
        height: 39px;
        clip-path: polygon(26.1865px 12.3158px, 0px 39px, 0px 0px, 73px 0px, 60.9139px 12.3158px, 26.1865px 12.3158px);
    }
    .why-clip-path-bottom:after{
        top: auto;
        z-index: 999;
        bottom: -1px;
        width:174px;
        height: 29px;
        clip-path: polygon(154.033px 19.8421px, 174px 0px, 174px 29px, 0px 29px, 9.21564px 19.8421px, 154.033px 19.8421px);
    }
    .products{
        padding: 90px 0;
    }
    .section-title.dark{
        margin-bottom: 45px;
    }
    .products .section-title{
        padding: 0 20px ;
    }
    .product-item{
        padding: 20px;
        height: auto;
    }
    .product-title{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 20px;

    }
    .btn-secondary{
        height: 44px;
    }
    .products-clip-path-bottom:after{
        bottom: -28px;
        width:174px;
        height: 29px;
        clip-path: polygon(143.156px 9.1579px, 174px 29px, 174px 0px, 0px 0px, 14.2358px 9.1579px, 143.156px 9.1579px);
    }
    .product-item:nth-child(2):after{
        top: -3px;
    }
    .product-item:first-child:after{
        bottom: -3px;
    }

    .clients{
        padding-top: 90px;
        padding-bottom: 70px;
    }
    .clients-list{
        margin-top: 30px;
    }
    .client{
        width: 50%;
        height: 75px;
        padding: 20px;
    }
    .client img{
        max-width: 100%;
    }
    .clients .container{
        padding: 0 15px;
    }
    .client a{
        text-align: left;
        gap: 10px;
    }
    .client a span{
        right: 0;
        width: 20px;
        height: 20px;
    }

    .img-banner .container-fluid{
        padding: 0 3px;
    }
    .img-banner img:last-child{
        object-fit: cover;
        height: 240px;
    }
    .review{
        padding: 70px 0 ;
    }
    .review-slider{
        margin-top: 45px;
    }
    .review .container{
        padding: 0 30px;
    }
    .review-title{
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .review-text{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    .review-btn{
        font-size: 14px;
        line-height: 15px;
    }
    .review-item{
        padding: 20px;
    }
    .contact .container{
        max-width: calc(100% - 30px);
    }
    .contact .section-title{
        padding-top: 60px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .contact p{
        margin-bottom: 35px;
    }
    .contact form{
        max-width: 100%;
        padding: 0 20px;
        position: relative;
        z-index: 9;
    }
    .form-check{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-check-input[type=checkbox]{
        margin-top: -5px;
    }
    .contact{
        margin-bottom: 90px;
    }
    .footer-top .col:not(:first-child){
        flex: auto;
        display: flex;
        flex-wrap: wrap;
    }
    footer h2{
        font-size: 22px;
        line-height: 24px;
    }
    footer p{
        font-size: 12px;
        line-height: 14px;

    }
    footer .container{
        padding-right: 25px;
        padding-left: 25px;
    }
    footer .sub-title.dark{
        margin-right: 100px;
    }
    .footer-address{
        width: 48%;
    }
    .footer-top .col:not(:first-child){
        gap: 10px;
        border-bottom: 0;
        padding-bottom: 8px;
    }


    .footer-top .col:last-child .footer-address{
        width: 100%;
    }
    .footer-bottom{
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #0B2B4C;
    }
    .footer-bottom h4{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .footer-menu a{
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .footer-menu{
        margin-bottom: 30px;
    }
    footer .btn{
        max-width: 200px;
        width: 100%;
    }
    .footer-top{
        padding-bottom: 50px;
    }
    .img-banner .container-fluid:after{
        width:174px;
        height: 29px;
        clip-path: polygon(154.033px 19.8421px, 174px 0px, 174px 29px, 0px 29px, 9.21564px 19.8421px, 154.033px 19.8421px);
    }
    .why-us{
        margin-bottom: 5px;
    }
    .copyright .row{
        justify-content: flex-start;
    }
    .copyright .container div{
        justify-content: flex-start!important;

    }
    .copyright .row div:first-child{
        order: 2;
    }
    .copyright .row div:last-child {
        order: 3;
        margin-top: 15px;
    }
    .copyright{
        padding: 20px 25px;
    }
    .copyright a{
        font-size: 12px;
    }
    .copyright p{
        font-size: 12px;
    }
    .fixed-mobile-menu nav{
        background: #F2F5F7;
        box-shadow: 0px 0px 15px 0px #0A1E3033;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .fixed-mobile-menu .nav-item{
        width: calc(100%/4);

    }
    .fixed-mobile-menu .nav-link{
        font-size: 12px;
        color: #6D8CAC;
        padding: 0;
        border: none;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2px;
        font-weight: 400;
    }
    .fixed-mobile-menu .nav-item:last-child .nav-link{
        color: #0C3F75;
    }
    #sidebar {
        /* don't forget to add all the previously mentioned styles here too */
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
    }

    #sidebar .sidebar-header img{
       max-width: 144px;
        margin-bottom: 64px;
    }
    #sidebar .sidebar-header a{
        display: block;
    }

    #sidebar ul p {
        color: #fff;

    }

    #sidebar ul li a {
        padding: 0;
        font-size:14px;
        line-height: 15px;
        margin-bottom: 10px;
        color: #F2F5F7;
        text-decoration: none;
    }

    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    .list-unstyled.components > li{
        margin-bottom: 15px;
    }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

    #sidebar {
        display: none;
        min-width: 300px;
        max-width: 300px;
        min-height: 100%;
        height: 100vh;
        background: #0C3F75;
        color: #F2F5F7;
        transition: all 0.3s;
        position: fixed;
        top: 0;
        right: 0;
        overflow: auto;
        padding: 7px 10px;
        z-index: 9999;

    }
    #sidebar.active{
        display: block!important;
    }
    .scrollbar{
        height: 100%;
        overflow: auto;
        min-height: 100vh;
    }
    .sidebar-overlay{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #0A1E30E5;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .sidebar-overlay.active{
        display: block;
    }
    .hide-scrollbar{
        overflow: hidden;
    }

    #sidebar .lang{
        margin-left: 0;
    }
    #sidebar .lang-selected{
        color: #F2F5F7;
        font-size: 12px;
        line-height: 13px;
    }
    #sidebar .lang-selected:before{
        background: url('../images/icons/lang-white.svg');
    }
    #sidebar .contact-us{
        display: flex;
        align-items: flex-end!important;
    }
    #sidebar .contact-us .btn{
        margin-right: 25px;
    }
    #sidebar .contacts{
        margin-top: 55px;
    }
    .nav-addresses div{
        padding-left: 32px;
    }
    .nav-addresses{
        padding-top: 30px;
        border-top: 1px solid #6D8CAC;
    }
    .nav-addresses h4{
        font-size: 18px;
        line-height: 19px;
        font-weight: 500;
        font-family: "DIN Next W1G", sans-serif;
        margin-bottom: 5px;
        color: #F2F5F7;
    }
    .nav-addresses p{
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 15px;
        text-transform:uppercase ;
        color: #F2F5F7;

    }
    .nav-addresses div:first-child h4:first-child:before{
        content: '';
        width: 20px;
        height: 20px;
        background: url('../images/icons/map.svg');
        position: absolute;
        left: 15px;
    }
    .nav-addresses div:nth-child(2) h4:before{
        content: '';
        width: 20px;
        height: 20px;
        background: url('../images/icons/email.svg');
        position: absolute;
        left: 15px;
    }
    .nav-addresses div:nth-child(2){
        margin-bottom: 25px;
    }
    .nav-addresses div:last-child h4:before{
        content: '';
        width: 20px;
        height: 20px;
        background: url('../images/icons/phone.svg');
        position: absolute;
        left: 15px;
    }
    .technologies{
        padding: 47px 37px 90px;
    }
    .technologies .container{
        max-width: 100%;
    }
    .technologies .section-title{
        letter-spacing: -1px;
    }
    .page-404{
        padding: 190px 30px;
    }
    .page-404 h1{
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 36px;
    }
    .page-404 p{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .banner-slider .swiper-pagination-bullet{
        max-width: 106px;
        width: 20%;
    }
}
